<h1>Edit Cleaner</h1>
<%= render partial: "form", locals: { client: @cleaner } %>
<p>
  <%= link_to "Delete", @cleaner, method: :delete, data: { confirm: "Are you sure you want to delete this cleaner?" } %>
</p>